# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# DGL files
*.dgl

# PyCharm
.idea/

# VS Code
.vscode/
